@import "vars";
@import "libs";
@import "fonts";

// #app {
//   display: flex;
//   justify-content: space-between;
//   padding: 2rem;
// }
body {
  font-size: 16px;
}

header {
  padding-left: 3em;
  height: 100px;
  background-color: #6e2929;
  display: flex;
  align-items: center;
  font-size: 2em;
  color: #fff;
}

footer {
  padding-left: 3em;
  height: 100px;
  background-color: #6e2929;
  display: flex;
  align-items: center;
  font-size: 2em;
  color: #fff;
}

@import "media";
